@media screen and (min-width: 480px) {

  .container-search {
    display: flex;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(46,226,76,1) 35%, rgba(0,212,255,1) 100%);
    justify-content: center;
    align-items: center;
  }

  .search-form {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .search-input {
    width: 400px;
    height: 48px;
    border: none;
    border-radius: 5px;
    padding: 8px;
    outline: none;
    margin-right: 15px;
  }

  .button-search {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(185, 181, 181);
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: rgb(121, 119, 119);
    }

  }

  .button-search__icon {
      margin-right: 10px;
    }
}
// .search-form {
  
//   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(46,226,76,1) 35%, rgba(0,212,255,1) 100%);
//   color: #2f2f37;
//   max-width: 960px;
//   padding: 16px;
//   font-size: 24px;
// }

// .button-search__icon {
//   margin-right: 10px;
// }
